/* HomePage */
.homePage {
    padding: .3rem 2rem 0 2rem;
    height: 100%;
    /* color: #c5c6c7; */
    color: white;
    /* Dark Background */
    background-color: #0b0c10;
    
    /* Light Background */
    /* background-color: #1f2833; */


}

.homeHeader {
    display: flex;
    flex-direction: column;
    border-bottom: solid black 3px;
}

.homeHeader section {
    display: flex;
    justify-content: space-between;
}

.homeHeader h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
    color: #66fcf1;
}

.header1, .header2 {
    color: #66fcf1;
}

.header1 {
    border-bottom: solid black 4px;
    width: fit-content;
    padding: .2rem;
    align-self: center;
    border-radius: 1rem;
}

.header2 {
    border: solid black 4px;
    background-color: #1f2833;
}

.aboutMe {
    font-size: 1.5rem;
    width: 100%;
    margin-left: 1rem;
}

.aboutMe p {
    margin-bottom: 1rem;
}

.bold {
    font-weight: 1000;
}

.special {
    font-weight: 2000;
    font-style: italic;
}

.jobTitle {
    text-align: left !important;
}

.profilePic {
    height: auto;
    width: 60vh;
}

.profilePic img {
    height: 100%;
    width: 100%;
}

/* Technical Skills */
.technicalSkills {
    display: flex;
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: solid black 3px;
}

.technicalSkills h1 {
    color: #66fcf1;
}

.technicalSkills div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-right: 1rem;
}

.technicalSkills p {
    border: solid 2px black;
    border-radius: .5rem;
    padding: .4rem;
    font-size: 2rem;
    text-align: center;
    background-color: #1f2833;
}

/* Color Code Skills */
.technicalSkills p:nth-child(1),
.technicalSkills p:nth-child(2),
.technicalSkills p:nth-child(4),
.technicalSkills p:nth-child(5),
.technicalSkills p:nth-child(6),
.technicalSkills p:nth-child(7),
.technicalSkills p:nth-child(18),
.technicalSkills p:nth-child(25),
.technicalSkills p:nth-child(26),
.technicalSkills p:nth-child(30) {
    background-color: #45a29e;
}

.technicalSkills h1 {
    font-size: 4rem
}

/* Project */
.project {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    padding-bottom: 8rem;
    border-bottom: solid black 3px;
}

.project a {
    text-decoration: none;
    color: black;
}

.project h1 {
    font-size: 5rem;
    text-align: center;
    color: #66fcf1;
}

.project h2 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}


.project h3 {
    font-size: 2rem;
    text-align: center;
    color: #66fcf1;
}

.project h4 {
    /* margin-top: 1rem; */
    font-size: 2rem;
    text-align: center;
    border-bottom: black solid 3px
}
.projectGrid {
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    grid-template-rows: repeat(1, 20rem);
    gap: 5.5rem;
    height: 100%;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.projectImage {
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.projectImage:hover div {
    display: flex;
    position: absolute;
    inset: 0;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    transition: 200ms ease-in-out;
}

.projectImage span {
    font-size: 2rem;
}

.projectImage img{
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

/* Experience */
.experience {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid black 3px;
    font-size: 1.8rem;
}

.experience h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    color: #66fcf1;
}

.experience ul {
    list-style: georgian;
    list-style-position:inside;
}

.experience ul li {
    margin-bottom: 1rem;
}

.job {
    display: flex;
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: #1f2833;
    border: solid black 3px;
    border-radius: 1rem;
}

.job p {
    display: block;
    width: fit-content;
    color: #66fcf1;
    padding-bottom: .3rem;
}

.job div p {
    border-bottom: solid black 3px;
    margin-bottom: 1rem;
}

/* Education */
.education {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    border-bottom: solid black 3px;
}

.education p {
    margin-bottom: .5rem;
}

.schoolHelper {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.education h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: #66fcf1;
}

.education h3 {
    text-align: right;
    font-size: 4rem;
    color: #66fcf1; 
}

/* .schoolLink, .school, .schoolLinkDiv { */
 .school, .schoolLinkDiv {
    display: flex;
    align-self: center;
}

.schoolLink, .school {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border: solid black 3px;
    border-radius: 3rem;
    background-color: #1f2833;
}

.schoolLinkDiv div, .school div {
    margin-right: 1rem;
}

.schoolLink {
    text-decoration: none;
    color: white;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 3rem;
    align-items: center;
}

.contact img {
    height: 100%;
    width: 100%;
}

.contact p, .contact h1 {
    text-align: center;
}

.contact h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #66fcf1;
}

.contact p {
    font-size: 2rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border: solid black 3px;
    border-radius: 3rem;
    width: fit-content; 
    background-color: #1f2833;
}

.contact a {
    width: fit-content;
    height: fit-content;
}

.githubLink, .linkedInLink {
    width: 10vh;
    height: auto;
}

.linkContainer {
    display: flex;
    justify-content: space-between
}


/* Responsive Designs */
@media (max-width: 1440px) {
    .technicalSkills {
        flex-direction: column-reverse;
    }

    .technicalSkills h1 {
        margin-bottom: 1rem;
    }

    .project {
        height: 40rem;
        padding: 0;
    }

    .projectGrid {
        overflow-y: scroll;
    }

}

@media (max-width: 1024px) {
    /* Header */
    .homeHeader h1 {
        font-size: 1.7rem;
    }

    .aboutMe {
        font-size: .7rem;
    }


    /* Technical Skills */
    .technicalSkills {
        flex-direction: column-reverse;
    }
    

    .technicalSkills  h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    .skills {
        overflow-y: scroll;
    }

    .skills p {
        font-size: .8rem;
    }

    .project h1 {
        font-size: 2rem;
    }

    .projectGrid {
        overflow-y: scroll;
        /* gap: 3rem;
        grid-template-columns: 15rem; */
    }

    .coolProject {
        aspect-ratio: 1/1;
    }

    .experience {
        font-size: 1rem;
    }

    .experience h1 {
        font-size: 2rem;
        text-align: center;
    }

    /* Education */
    .schoolHelper {
        flex-direction: column;
    }

    .education {
        font-size: 1rem;
    }

    .education h2 {
        font-size: 1rem;
    }

    .education h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    
    .project {
        height: 40rem;
        padding: 0
    }
    
    .projectGrid {
        overflow-y: scroll;
        padding-left: 33rem;
        gap: 3rem;
    }
    
    .technicalSkills {
        flex-direction: column-reverse;
    }
    
    .technicalSkills h1 {
        margin-bottom: 1rem;
    }
    
    .skills {
        /* overflow-y: scroll; */
    }
}

@media (max-width: 425px) {
    /* Header */
   .homeHeader h1 {
        font-size: 1.5rem;
   } 

   .aboutMe {
        font-size: .5rem;
   }

   .aboutMe h1 {
    font-size: 1rem;
    border: solid black 2px;
   }

   .profilePic {
        height: 100%;
   }

   /* TechnicalSkills */
   .technicalSkills {
        flex-direction: column-reverse;
    }

   .technicalSkills h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
   }

   .skills {
        overflow-y: scroll;
   }

   .skills p {
        font-size: 1rem;
   }
   
   /* Project */
   .project {
       height: 40rem;
       padding-bottom: 2rem;
    }

    .project h1 {
        font-size: 2rem;
    }
    
    .projectGrid {
        overflow-x: scroll;
        gap: 3rem;
        padding: 0;
        grid-template-columns: repeat(1, 13rem);
    }

    .coolProject {
        aspect-ratio: 1/1;
    }

   /* Experience */
   .experience {
    font-size: 1rem;
   }

   .experience h1 {
        font-size: 2rem;
        text-align: center;
   }

   .job {
        flex-direction: column;
   }

   .job p {
        padding-bottom: .5rem;
   }

   /* Education */
   .schoolHelper {
    flex-direction: column;
   }

   .education {  
        font-size: 1rem;
   }

   .education p {
        margin-bottom: .5rem;
   }

   .education h2 {
        font-size: 1rem;
   }

   .education h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
   }

   /* Contact */
   .contact h1 {
        font-size: 1.7rem;
   }

   .contact p {
        font-size: 1rem;
   }

   .githubLink, .linkedInLink {
        width: 5vh;
   }

   .linkContainer {
        justify-content: space-around;
   }
}

@media (max-width: 375px) {

    .aboutMe {
        font-size: .5rem;
    }

    .technicalSkills {
        flex-direction: column-reverse;
    }

    .technicalSkills h1 {
        margin-bottom: 1rem;
    }

    .skills {
        overflow-y: scroll;
    }

    .projectGrid {
        overflow-y: scroll;
    }

}